<div class="io-log">
  <h2 class="io-log-h2" id="iologbutton">
    Log System
  </h2>
  <div class="l-center units">
    <div class="l-unit un-selected">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
        </div>
        <!-- l-unit-toolbar__col -->
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right">
          <div class="actions-panel clearfix">
          </div>
          <!-- /.actiona-panel -->
        </div>
        <!-- l-unit-toolbar__col -->
      </div>
      <!-- /.l-unit-toolbar -->

      <div class="l-unit__col l-unit__col--left clearfix">
        <div class="l-unit__date">
          19 &nbsp;Dec &nbsp;2017          </div>
        <div class="l-unit__date">
          15:22:19          </div>
      </div>
      <!-- /.l-unit__col -->
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name small">
          changed language to en          </div>

        <!-- div class="l-unit__stats">
        </div -->
        <!-- /.l-unit__stats -->
      </div>
      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->


    <div class="l-unit un-selected">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
        </div>
        <!-- l-unit-toolbar__col -->
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right">
          <div class="actions-panel clearfix">
          </div>
          <!-- /.actiona-panel -->
        </div>
        <!-- l-unit-toolbar__col -->
      </div>
      <!-- /.l-unit-toolbar -->

      <div class="l-unit__col l-unit__col--left clearfix">
        <div class="l-unit__date">
          19 &nbsp;Dec &nbsp;2017          </div>
        <div class="l-unit__date">
          06:44:51          </div>
      </div>
      <!-- /.l-unit__col -->
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name small">
          changed language to en          </div>

        <!-- div class="l-unit__stats">
        </div -->
        <!-- /.l-unit__stats -->
      </div>
      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->


    <div class="l-unit un-selected">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
        </div>
        <!-- l-unit-toolbar__col -->
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right">
          <div class="actions-panel clearfix">
          </div>
          <!-- /.actiona-panel -->
        </div>
        <!-- l-unit-toolbar__col -->
      </div>
      <!-- /.l-unit-toolbar -->

      <div class="l-unit__col l-unit__col--left clearfix">
        <div class="l-unit__date">
          19 &nbsp;Dec &nbsp;2017          </div>
        <div class="l-unit__date">
          00:32:17          </div>
      </div>
      <!-- /.l-unit__col -->
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name small">
          added ftp account           </div>

        <!-- div class="l-unit__stats">
        </div -->
        <!-- /.l-unit__stats -->
      </div>
      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->


    <div class="l-unit un-selected">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
        </div>
        <!-- l-unit-toolbar__col -->
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right">
          <div class="actions-panel clearfix">
          </div>
          <!-- /.actiona-panel -->
        </div>
        <!-- l-unit-toolbar__col -->
      </div>
      <!-- /.l-unit-toolbar -->

      <div class="l-unit__col l-unit__col--left clearfix">
        <div class="l-unit__date">
          18 &nbsp;Dec &nbsp;2017          </div>
        <div class="l-unit__date">
          23:04:07          </div>
      </div>
      <!-- /.l-unit__col -->
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name small">
          deleted ftp account          </div>

        <!-- div class="l-unit__stats">
        </div -->
        <!-- /.l-unit__stats -->
      </div>
      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->


    <div class="l-unit un-selected">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
        </div>
        <!-- l-unit-toolbar__col -->
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right">
          <div class="actions-panel clearfix">
          </div>
          <!-- /.actiona-panel -->
        </div>
        <!-- l-unit-toolbar__col -->
      </div>
      <!-- /.l-unit-toolbar -->

      <div class="l-unit__col l-unit__col--left clearfix">
        <div class="l-unit__date">
          18 &nbsp;Dec &nbsp;2017          </div>
        <div class="l-unit__date">
          23:02:51          </div>
      </div>
      <!-- /.l-unit__col -->
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name small">
          changed language to en          </div>

        <!-- div class="l-unit__stats">
        </div -->
        <!-- /.l-unit__stats -->
      </div>
      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->


    <div class="l-unit un-selected">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
        </div>
        <!-- l-unit-toolbar__col -->
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right">
          <div class="actions-panel clearfix">
          </div>
          <!-- /.actiona-panel -->
        </div>
        <!-- l-unit-toolbar__col -->
      </div>
      <!-- /.l-unit-toolbar -->

      <div class="l-unit__col l-unit__col--left clearfix">
        <div class="l-unit__date">
          18 &nbsp;Dec &nbsp;2017          </div>
        <div class="l-unit__date">
          22:59:19          </div>
      </div>
      <!-- /.l-unit__col -->
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name small">
          added ftp account          </div>

        <!-- div class="l-unit__stats">
        </div -->
        <!-- /.l-unit__stats -->
      </div>
      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->


    <div class="l-unit un-selected">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
        </div>
        <!-- l-unit-toolbar__col -->
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right">
          <div class="actions-panel clearfix">
          </div>
          <!-- /.actiona-panel -->
        </div>
        <!-- l-unit-toolbar__col -->
      </div>
      <!-- /.l-unit-toolbar -->

      <div class="l-unit__col l-unit__col--left clearfix">
        <div class="l-unit__date">
          18 &nbsp;Dec &nbsp;2017          </div>
        <div class="l-unit__date">
          22:54:45          </div>
      </div>
      <!-- /.l-unit__col -->
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name small">
          disabled ssl support          </div>

        <!-- div class="l-unit__stats">
        </div -->
        <!-- /.l-unit__stats -->
      </div>
      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->


    <div class="l-unit un-selected">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
        </div>
        <!-- l-unit-toolbar__col -->
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right">
          <div class="actions-panel clearfix">
          </div>
          <!-- /.actiona-panel -->
        </div>
        <!-- l-unit-toolbar__col -->
      </div>
      <!-- /.l-unit-toolbar -->

      <div class="l-unit__col l-unit__col--left clearfix">
        <div class="l-unit__date">
          16 &nbsp;Mar &nbsp;2017          </div>
        <div class="l-unit__date">
          14:50:30          </div>
      </div>
      <!-- /.l-unit__col -->
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name small">
          changed language to en          </div>

        <!-- div class="l-unit__stats">
        </div -->
        <!-- /.l-unit__stats -->
      </div>
      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->


    <div class="l-unit un-selected">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
        </div>
        <!-- l-unit-toolbar__col -->
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right">
          <div class="actions-panel clearfix">
          </div>
          <!-- /.actiona-panel -->
        </div>
        <!-- l-unit-toolbar__col -->
      </div>
      <!-- /.l-unit-toolbar -->

      <div class="l-unit__col l-unit__col--left clearfix">
        <div class="l-unit__date">
          16 &nbsp;Mar &nbsp;2017          </div>
        <div class="l-unit__date">
          14:07:09          </div>
      </div>
      <!-- /.l-unit__col -->
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name small">
          changed language to fr          </div>

        <!-- div class="l-unit__stats">
        </div -->
        <!-- /.l-unit__stats -->
      </div>
      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->


    <div class="l-unit un-selected">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
        </div>
        <!-- l-unit-toolbar__col -->
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right">
          <div class="actions-panel clearfix">
          </div>
          <!-- /.actiona-panel -->
        </div>
        <!-- l-unit-toolbar__col -->
      </div>
      <!-- /.l-unit-toolbar -->

      <div class="l-unit__col l-unit__col--left clearfix">
        <div class="l-unit__date">
          16 &nbsp;Mar &nbsp;2017          </div>
        <div class="l-unit__date">
          14:04:19          </div>
      </div>
      <!-- /.l-unit__col -->
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name small">
          changed language to en          </div>

        <!-- div class="l-unit__stats">
        </div -->
        <!-- /.l-unit__stats -->
      </div>
      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->


    <div class="l-unit un-selected">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
        </div>
        <!-- l-unit-toolbar__col -->
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right">
          <div class="actions-panel clearfix">
          </div>
          <!-- /.actiona-panel -->
        </div>
        <!-- l-unit-toolbar__col -->
      </div>
      <!-- /.l-unit-toolbar -->

      <div class="l-unit__col l-unit__col--left clearfix">
        <div class="l-unit__date">
          31 &nbsp;Dec &nbsp;2016          </div>
        <div class="l-unit__date">
          18:01:50          </div>
      </div>
      <!-- /.l-unit__col -->
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name small">
          changed language to ru          </div>

        <!-- div class="l-unit__stats">
        </div -->
        <!-- /.l-unit__stats -->
      </div>
      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->


    <div class="l-unit un-selected">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
        </div>
        <!-- l-unit-toolbar__col -->
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right">
          <div class="actions-panel clearfix">
          </div>
          <!-- /.actiona-panel -->
        </div>
        <!-- l-unit-toolbar__col -->
      </div>
      <!-- /.l-unit-toolbar -->

      <div class="l-unit__col l-unit__col--left clearfix">
        <div class="l-unit__date">
          31 &nbsp;Dec &nbsp;2016          </div>
        <div class="l-unit__date">
          18:01:36          </div>
      </div>
      <!-- /.l-unit__col -->
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name small">
          changed language to en          </div>

        <!-- div class="l-unit__stats">
        </div -->
        <!-- /.l-unit__stats -->
      </div>
      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->


    <div class="l-unit un-selected">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
        </div>
        <!-- l-unit-toolbar__col -->
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right">
          <div class="actions-panel clearfix">
          </div>
          <!-- /.actiona-panel -->
        </div>
        <!-- l-unit-toolbar__col -->
      </div>
      <!-- /.l-unit-toolbar -->

      <div class="l-unit__col l-unit__col--left clearfix">
        <div class="l-unit__date">
          08 &nbsp;Dec &nbsp;2016          </div>
        <div class="l-unit__date">
          19:06:52          </div>
      </div>
      <!-- /.l-unit__col -->
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name small">
          changed language to en          </div>

        <!-- div class="l-unit__stats">
        </div -->
        <!-- /.l-unit__stats -->
      </div>
      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->

  </div>
</div>
  <script type="text/javascript" src="/js/jquery-1.7.2.min.js?<?=JS_LATEST_UPDATE?>"></script>
  <script type="text/javascript" src="/js/jquery.cookie.js?<?=JS_LATEST_UPDATE?>"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.8.20.custom.min.js?<?=JS_LATEST_UPDATE?>"></script>
  <script type="text/javascript" src="/js/hotkeys.js?<?=JS_LATEST_UPDATE?>"></script>
  <script type="text/javascript" src="/js/events.js?<?=JS_LATEST_UPDATE?>"></script>
  <script type="text/javascript" src="/js/app.js?<?=JS_LATEST_UPDATE?>"></script>
  <script type="text/javascript" src="/js/init.js?<?=JS_LATEST_UPDATE?>"></script>
  <script type="text/javascript" src="/js/i18n.js.php?<?=JS_LATEST_UPDATE?>"></script>
  <script type="text/javascript" src="/js/templates.js?<?=JS_LATEST_UPDATE?>"></script>
  <script type="text/javascript" src="/js/jquery.finder.js?<?=JS_LATEST_UPDATE?>"></script>
  <script type="text/javascript" src="/js/fix.js"></script>

  <script>
    hover_menu = function() {}
    $(function() {
      hover_menu();
      $( ".l-separator" ).remove();
      $( ".io-log div" ).removeClass();
    });
  </script>

<?php
// Dialogs
// todo: display all the dialogs?

if (!empty($_SESSION['look_alert'])):
?>
  <script>
    $(function() {
      $('#dialog:ui-dialog').dialog('destroy');
      $('#dialog-message').dialog({
        modal: true,
        buttons: {
          Ok: function() {
            $(this).dialog('close');
          }
        }
      });
    });
  </script>
  <div id="dialog-message" title="<?=__('Welcome')?>">
    <p class="confirmation"><?=__('LOGGED_IN_AS', $_SESSION['look'])?></p>
  </div>
<?php
  unset($_SESSION['look_alert']);
elseif (!empty($_SESSION['error_msg'])):
?>
  <div>
    <script>
      $(function() {
        $('#dialog:ui-dialog').dialog('destroy');
        $('#dialog-message').dialog({
          modal: true,
          buttons: {
            Ok: function() {
              $(this).dialog('close');
            }
          },
          create: function() {
            $(this)
            .closest('.ui-dialog')
            .find('.ui-button:first')
            .addClass('submit');
          }
        });
      });
    </script>
    <div id="dialog-message" title="">
      <p><?=htmlentities($_SESSION['error_msg'])?></p>
    </div>
  </div>
<?php
  unset($_SESSION['error_msg']);
endif;
?>